
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oh Mince</h1>
<h2 class="text-danger">Une erreur vient d'arriver</h2>


<p>
    Veuillez nous excusez pour se désagrèment! Nous sommes sur le point de régler cette erreur!
</p>

<a asp-controller="Home" class="btn btn-primary">Accueil</a>